<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <startup>
    <supportedRuntime version="v4.0"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <system.web>
  <globalization uiCulture="es" culture="es-MX" />
    <customErrors mode="Off"/> 
    <compilation debug="true" strict="false" explicit="true" >
      <!--<compilation debug="true" strict="false" explicit="true">-->
      <assemblies>
        <add assembly="MySql.Data, Version=6.0.3.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D" />
        <add assembly="MySql.Web, Version=6.0.3.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D" />
        <!--<add assembly="MySql.Data, Version=6.0.3.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D" />
        <add assembly="MySql.Web, Version=6.0.3.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D" />-->
      </assemblies>
    </compilation>
    
	
    <authentication mode="Forms">
      <forms name=".ASPXFORMSDEMO" loginUrl="logIn.aspx" protection="All" path="/" timeout="720"  slidingExpiration="true"/>
    </authentication>
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>
	
	<pages controlRenderingCompatibilityVersion="4.0" maintainScrollPositionOnPostBack="true"/>
	
	<httpRuntime maxUrlLength="10999"
	maxQueryStringLength="2097151"
	executionTimeout="900"
    maxRequestLength="1048576"
    useFullyQualifiedRedirectUrl="false"
    minFreeThreads="8"
    minLocalRequestFreeThreads="4"
    appRequestQueueLimit="100"
    enableVersionHeader="true"
    enableKernelOutputCache="false" />
	
	
	
  </system.web>
<system.webServer>
   <security>
      <requestFiltering>
         <requestLimits maxAllowedContentLength="1073741824" maxQueryString="9999" maxUrl="10999" />
      </requestFiltering>
   </security>
 </system.webServer>
  
  <connectionStrings>
    <add name="xls" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;;Extended Properties=Excel 8.0"/>
    <add name="xlsx" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Extended Properties='Excel 12.0; IMEX=1; HDR=YES'"/>
    <add name="prueba" connectionString="database=db1003479_reportes; server=10.61.37.44; user id=u1003479_hcasta; password=Sotixe_69; Allow Zero Datetime=false;Convert Zero Datetime=True"/>
    <!--<add name="prueba" connectionString="database=db1003479_reportes; server=mysql.site.infoquest.com; user id=u1003479_hcasta; password=Sotixe_69; Allow Zero Datetime=false;Convert Zero Datetime=True" />-->
    <add name="produccion" connectionString="database=db1003479_reportes; server=10.61.37.44; user id=u1003479_hcasta; password=Sotixe_69; Allow Zero Datetime=false;Convert Zero Datetime=True"/>
  </connectionStrings>
<appSettings>
    <add key="bd" value="produccion" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>